div {
    width: 220px;
    height: 220px;
    background-color: rgb(144, 167, 187);
    margin: 5px;
}

/* padding is inside border */
/* margin is outside border */

h1 {
    width: 300px;
    background-color: #ff99c8;
    /* border-style: dotted; */
    padding: 20px;
}

h2 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    display: block;
    padding: 4px;
}

#one {
    background-color: #fcf6bd;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    /* padding: 1%; */
    margin-left: 50px;
}

#two {
    background-color: #d0f4de;
    border-color: #93ac9c;
    border-width: 4px;
    border-style: double;
}

#three {
    background-color: #a9def9;
    /* shorthand notation: size style color */
    border: 6px dashed #6ebbe1;
    /* can then make adjustments */
    border-left-style: solid;
    border-radius: 5%;
    /* all 4 sides */
    padding: 1%;
    /* vertical horizontal */
    /* padding: 1% 2%; */
    /* top horizontal bottom  */
    /* padding: 1% 2% 3%; */
    /* top right bottom left  */
    /* padding: 1% 2% 3% 4%; */
}

#circle {
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}