h1 {
    color: #1d3557;
    text-align: center;
    /* text-decoration: black underline dotted; */
    letter-spacing: 8px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    color: #f1faee;
    background-color: #457b9d;
    font-weight: normal;
}

button {
    color: #1d3557;
    background-color: #a8dadc;
    border-color: #a8dadc;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
}

#downvote {
    color: #f1faee;
    background-color: #e63946;
    border-color: #e63946;
}

p {
    color: #1d3557;
    line-height: 1.25;
}

body {
    background-color: #f1faee;
}

a {
    color: #457b9d;
    text-decoration: none;
}

.summary {
    background-color: #a8dadc;
    color: #1d3557;
    font-size: medium;
}

.topic a {
    color: #e63946;
    text-decoration: underline;
}

.topic a:hover {
    color: magenta;
}

h1+p {
    /* selects paragraphs right after h1s, on the same level  */
}

div>li {
    /* selects only the lis that are direct children of a div  */
}

li>a {
    color: #1d3557;
    /* targets: Home, License, About  */
}

input[type="text"] {
    color: #e63946;
}

.suggestion {
    color: #1d3557;
}

.suggestion button {
    color: #f1faee;
    background-color: #1d3557;
    border-color: #1d3557;
    border-radius: 4px;
    font-size: small;
}

.suggestion button:hover {
    color: #457b9d;
    font-size: large;
}

.suggestion button:active {
    background-color: #a8dadc;
}

input:checked+label {
    color: #e63946;
}