h1 {
    color: #34495E;
    text-align: center;
    text-decoration: black underline dotted;
    letter-spacing: 10px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    color: #2874A6;
    background-color: #EAECEE;
    font-weight: normal;
}

button {
    color: #CB4335;
    background-color: #FADBD8;
    border-color: #EC7063;
    border-radius: 8px;
    font-size: large;
}

p {
    color: #4D5656;
    line-height: 1.25;
}

body {
    background-color: rgb(235, 245, 251);
}

a {
    text-decoration: none;
}